<!DOCTYPE html>
<html>
<head>
    <title>Inequality Dashboard</title>
</head>
<body>

<h1>Inequality Analytics Dashboard</h1>

<h3>Prediction</h3>

<form action="/predict" method="post">
    Age: <input type="number" name="age" required><br><br>
    Education: <input type="number" name="education" required><br><br>
    Employment (ESR): <input type="number" name="esr" required><br><br>
    State (ST): <input type="number" name="st" required><br><br>
    <button type="submit">Predict</button>
</form>

</body>
</html>